@charset "utf-8";

html{
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
}

img {
	border: 0
	}

body {
	background-color: #FFFFFF;
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #808080;
}

a {
	text-decoration: none;
	color: #009BDC;
}

a:hover {
    text-decoration: none;
	text-decoration: underline;
	color: #cc6666;
}

#bookadd {
	
}

.errorlist li {
	color: red;
}