@charset "utf-8";

html{
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
}

img {
	border: 0
	}

body {
	background-color: #FFFFFF;
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #808080;
}

a {
	text-decoration: none;
	color: #009BDC;
}

a:hover {
    text-decoration: none;
	text-decoration: underline;
	color: #cc6666;
}

#wrapper {
	text-align: left;
	width: 800px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#wrapper_anime {
	text-align: left;
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#header {
	height: 257px;
	width: 796px;
	background-position: center top;
	margin-top: 10px;
	margin-left: 2px;
}

#logo {
	position: absolute;
	margin-left: 16px;
	padding-top: 87px;
}

#logo_index {
	position: absolute;
	margin-left: 16px;
	padding-top: 50px;
}

#content {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#content_index {
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	height: 620px;
	width: 796px;
	background-position: center top;
	margin-top: 10px;
	margin-left: 2px;
	background: url(../gfx/index_bg.jpg) no-repeat 0 40px;
}

#index_buttons {
	position: relative;
	top: 270px;
	left: 160px;
	}

#index_buttons .index_btn {
	float: left;
	}

a#index_btn_adult {
	background: url(../gfx/index_adults_btn.png) no-repeat scroll 0 0;
	display:block;
	height: 128px;
	width: 150px;
	}

a#index_btn_teenagers {
	background: url(../gfx/index_teenagers_btn.png) no-repeat scroll 0 0;
	display:block;
	height: 128px;
	width: 150px;
	}
	
a#index_btn_kids {
	background: url(../gfx/index_kids_btn.png) no-repeat scroll 0 0;
	display:block;
	height: 128px;
	width: 150px;
	}

a#index_btn_adult:hover, a#index_btn_adult:active {
	background: url(../gfx/index_adults_btn.png) no-repeat scroll 0 -128px;
	display:block;
	height: 128px;
	width: 150px;
	}

a#index_btn_teenagers:hover, a#index_btn_teenagers:active {
	background: url(../gfx/index_teenagers_btn.png) no-repeat scroll 0 -128px;
	display:block;
	height: 128px;
	width: 150px;
	}
	
a#index_btn_kids:hover, a#index_btn_kids:active {
	background: url(../gfx/index_kids_btn.png) no-repeat scroll 0 -128px;
	display:block;
	height: 128px;
	width: 150px;
	}

#leftColumn {
	float: left;
	width: 210px;
	margin-bottom: 20px;
}
#rightColumn {
	float: right;
	width: 586px;
	margin-bottom: 20px;
}
.leftmenuul {
	list-style-image:none;
	list-style-type:none;
	float: left;
	margin-top: 21px;
	margin-left: 16px;
	padding: 0px;	
}

a.menu_o_projekcie {
	background:transparent url(../gfx/pro.png) no-repeat scroll 0 -12px;
	display:block;
	margin-bottom:7px;
	margin-top:7px;
	height:12px;
	width:158px;
	float: left;
}


a.menu_o_projekcie:hover, a.menu_o_projekcie_active   {
	background:transparent url(../gfx/pro.png) no-repeat scroll 0 0px  ;
	display:block;
	height:12px;
	margin-bottom:7px;
	margin-top:7px;
	width:158px;
	float: left;
}

a.menu_aktualnosci {
	background:transparent url(../gfx/akt.png) no-repeat scroll 0 -12px;
	display:block;
	margin-bottom:7px;
	margin-top:7px;
	height:12px;
	width:158px;
	float: left;
}

a.menu_aktualnosci:hover, a.menu_aktualnosci_active {
	background:transparent url(../gfx/akt.png) no-repeat scroll 0 0px  ;
	display:block;
	height:12px;
	margin-bottom:7px;
	margin-top:7px;
	width:158px;
	float: left;
}

a.menu_archiwum_projektu {
	background:transparent url(../gfx/arch.png) no-repeat scroll 0 -12px;
	display:block;
	margin-bottom:7px;
	margin-top:7px;
	height:12px;
	width:158px;
	float: left;
}

a.menu_archiwum_projektu:hover, a.menu_archiwum_projektu_active {
	background:transparent url(../gfx/arch.png) no-repeat scroll 0 0px  ;
	display:block;
	height:12px;
	margin-bottom:7px;
	margin-top:7px;
	width:158px;
	float: left;
}

a.menu_strefa_wiedzy {
	background:transparent url(../gfx/str.png) no-repeat scroll 0 -12px;
	display:block;
	margin-bottom:7px;
	margin-top:7px;
	height:12px;
	width:158px;
	float: left;
}

a.menu_strefa_wiedzy:hover, a.menu_strefa_wiedzy_active {
	background:transparent url(../gfx/str.png) no-repeat scroll 0 0px  ;
	display:block;
	height:12px;
	margin-bottom:7px;
	margin-top:7px;
	width:158px;
	float: left;
}

a.menu_materialy_edukacyjne {
	background:transparent url(../gfx/mat.png) no-repeat scroll 0 -12px;
	display:block;
	margin-bottom:7px;
	margin-top:7px;
	height:12px;
	width:158px;
	float: left;
}

a.menu_materialy_edukacyjne:hover, a.menu_materialy_edukacyjne_active {
	background:transparent url(../gfx/mat.png) no-repeat scroll 0 0px  ;
	display:block;
	height:12px;
	margin-bottom:7px;
	margin-top:7px;
	width:158px;
	float: left;
}

a.menu_kontakt {
	background:transparent url(../gfx/kon.png) no-repeat scroll 0 -12px;
	display:block;
	margin-bottom:7px;
	margin-top:7px;
	height:12px;
	width:158px;
	float: left;
}

a.menu_kontakt:hover, a.menu_kontakt_active {
	background:transparent url(../gfx/kon.png) no-repeat scroll 0 0px  ;
	display:block;
	height:12px;
	margin-bottom:7px;
	margin-top:7px;
	width:158px;
	float: left;
}

#rightColumn {
	float: right;
	width: 586px;
}

#submenu {
	margin-left: 20px;
	padding: 0px;
}

.submenuul {
	float: left;
	display: inline;
	margin-top: 20px;
	padding: 0px;
	margin-right: 24px;
	margin-left: 0px;
}

#submenu li {
    display: inline;
}

a.opisProj {
	background:transparent url(../gfx/opisProj.gif) no-repeat scroll 0 -15px;
    margin-bottom:7px;
	margin-top:7px;
	height:15px;
	width:85px;
    float: left;
}

a.opisProj:hover,a.opisProjActive   {
	background:transparent url(../gfx/opisProj.gif) no-repeat scroll 0 0px  ;
    height:15px;
    margin-bottom:7px;
	margin-top:7px;
	width:85px;
	float: left;
}

a.organiza {
	background:transparent url(../gfx/organiza.gif) no-repeat scroll 0 -15px;
    margin-bottom:7px;
	margin-top:7px;
	height:15px;
	width:85px;
	float: left;
}

a.organiza:hover,a.organizaActive   {
	background:transparent url(../gfx/organiza.gif) no-repeat scroll 0 0px  ;
    height:15px;
	margin-bottom:7px;
	margin-top:7px;
	width:85px;
	float: left;
}

a.finans {
	background:transparent url(../gfx/finans.gif) no-repeat scroll 0 -15px;
    margin-bottom:7px;
	margin-top:7px;
	height:15px;
	width:97px;
	float: left;
}

a.finans:hover,a.finansActive   {
	background:transparent url(../gfx/finans.gif) no-repeat scroll 0 0px  ;
    height:15px;
	margin-bottom:7px;
	margin-top:7px;
	width:97px;
	float: left;
}

a.media {
	background:transparent url(../gfx/media.gif) no-repeat scroll 0 -15px;
    margin-bottom:7px;
	margin-top:7px;
	height:15px;
	width:125px;
	float: left;
}

a.media:hover,a.mediaActive   {
	background:transparent url(../gfx/media.gif) no-repeat scroll 0 0px  ;
        height:15px;
	margin-bottom:7px;
	margin-top:7px;
	width:125px;
	float: left;
}

a.partSpon {
	background:transparent url(../gfx/partSpon.gif) no-repeat scroll 0 -15px;
        margin-bottom:7px;
	margin-top:7px;
	height:15px;
	width:132px;
	float: left;
}

a.partSpon:hover,a.partSponActive   {
	background:transparent url(../gfx/partSpon.gif) no-repeat scroll 0 0px  ;
        height:15px;
	margin-bottom:7px;
	margin-top:7px;
	width:132px;
	float: left;
}
.description {
	padding: 0px;
	margin-right: 24px;
	margin-left: 20px;
	margin-top: 80px;
	margin-bottom: 20px;
	text-align: justify;
}

.style1 {
	color: #70c3e3;
	font-weight: bold;
	font-size: 14px;
}
.style2 {
	font-size: 12px;
	color: #009bdc;
}
.style3 {
	font-size: 12px;
}
.style4 {
	font-size: 10px;
	font-family: "GothamRounded", "Trebuchet MS", Verdana;
	text-align: center;
}
.style5 {
	font-weight: bold;
	font-size: 14px;
}
h1 {
	font-weight: bold;
	font-size: 14px;
}
	
#subdesc {
	text-align: left;
	padding: 0px;
        margin: 0px;
}
#county_holder {
	height: 18px;
	width: 203px;
	padding: 0px;
	margin-top: 22px;
	margin-left: 22px;
}
#group_holder {
	height: 18px;
	width: 203px;
	padding: 0px;
	margin-top: 22px;
	margin-left: 22px;
}
.head-line {
	height: 18px;
	margin: 0px;
	padding: 0px;
}

.head-lineEntry {
	height: 18px;
	margin: 0px;
	padding: 0px;
}

.date {
	background-image: url(../gfx/obr.gif);
	background-repeat: no-repeat;
	background-position: left center;
	height: 18px;
	width: 83px;
	text-align: center;
	margin: 0px;
	font-size: 11px;
	color: #FFFFFF;
	padding: 0px;
	float: left;
}

.dateRed {
	background-image: url(../gfx/obrRed.gif);
	background-repeat: no-repeat;
	background-position: left center;
	height: 18px;
	width: 83px;
	text-align: center;
	margin: 0px;
	font-size: 11px;
	color: #FFFFFF;
	padding: 0px;
	float: left;
}

a.attachment {
	background:transparent url(../gfx/attachment.gif) no-repeat scroll 0 -17px;
	float: right;
	margin: 0px;
	padding: 0px;
	height: 17px;
	width: 50px;
}

a.attachment:hover {
	background:transparent url(../gfx/attachment.gif) no-repeat scroll 0 0px;
	float: right;
	margin: 0px;
	padding: 0px;
	height: 17px;
	width: 50px;
}
.actual {
	text-align: left;
	padding: 0px;
	margin-left: 22px;
	margin-top: 30px;
	float: left;
	width: 300px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.actualEntry {
	text-align: left;
	padding: 0px;
	margin-left: 22px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.actualSelect {
	margin-top: 5px;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.actualSelectEntry {
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#icon {
	margin-left: 20px;
	padding: 0px;
}

.iconul {
	float: left;
	display: inline;
	margin-top: 10px;
	padding: 0px;
	margin-right: 24px;
	margin-left: 0px;
}

#icon li {
    display: inline;
}
.zone {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 0px;
	padding: 0px;
}

.zone a {
	text-decoration: none;
	color: #cc6666;
}

.zone a:hover {
	color: #cc6666;
	text-decoration: underline;
}


a.parents {
	background:transparent url(../gfx/parents.gif) no-repeat scroll 0 -42px;
	display:block;
	margin-bottom:0px;
	margin-top:0px;
	margin-right: 40px;
	height:42px;
	width:54px;
	float: left;
}

a.parents:hover, a.parentsActive {
	background:transparent url(../gfx/parents.gif) no-repeat scroll 0 0px  ;
	display:block;
	height:42px;
	margin-bottom:0px;
	margin-top:0px;
	margin-right: 40px;
	width:54px;
	float: left;
}

a.kids {
	background:transparent url(../gfx/kids.gif) no-repeat scroll 0 -42px;
	display:block;
	margin-bottom:0px;
	margin-top:0px;
	margin-right: 40px;
	height:42px;
	width:54px;
	float: left;
}

a.kids:hover, a.kidsActive {
	background:transparent url(../gfx/kids.gif) no-repeat scroll 0 0px  ;
	display:block;
	height:42px;
	margin-bottom:0px;
	margin-top:0px;
	margin-right: 40px;
	width:54px;
	float: left;
}

a.teacher {
	background:transparent url(../gfx/teacher.gif) no-repeat scroll 0 -42px;
	display:block;
	margin-bottom:0px;
	margin-top:0px;
	margin-right: 40px;
	height:42px;
	width:54px;
	float: left;
}

a.teacher:hover, a.teacherActive {
	background:transparent url(../gfx/teacher.gif) no-repeat scroll 0 0px  ;
	display:block;
	height:42px;
	margin-bottom:0px;
	margin-top:0px;
	margin-right: 40px;
	width:54px;
	float: left;
}


.mapa {
	float: right;
	width: 230px;
	margin-top: 35px;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#footer {
	clear: both;
	margin-bottom: 12px;
	margin-top: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #808080;
	height: 44px;
	padding: 10px 0px 0px 0px;
	margin-bottom: 12px;
	margin-top: 12px;
	margin-right: 0px;
	margin-left: 0px;
	border-top: 1px solid #ccc;
}

#logoFooter {
	float: left;
	height: 34px;
	width: 180px;
	margin-left: 16px;
}
  
#conFooter {
	height: 29px;
	width: 566px;
	text-align: left;
	float: right;
	top: 5px;
	padding: 0px;
	margin-top: 5px;
}
.edu {
	border-bottom-width: thin;
	border-bottom-style: dashed;
	border-bottom-color: #808080;
	height: 30px;
	text-align: left;
	vertical-align: middle;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 15px;
	padding-right: 0px;
	padding-left: 0px;
	color: #808080;
}

.edu a {
	text-decoration: none;
	color: #808080;
}

.edu a:hover {
    text-decoration: none;
	text-decoration: underline;
	color: #cc6666;
}

.cb {
	clear:both
}

/* media o projekcie */

.mop {

}

.mop h1 {
	font-size: 20px;
	line-height: 35px;
	color: #70c3e3;
	}

.mop .logo {
	float: left;
}

.extra {
	float: right;
	height: 20px;
	width: 60px;	
}

a.extra_gallery {
	background: url(../gfx/gallery.png) no-repeat scroll 0 0;
	display:block;
	height: 20px;
	width: 60px;
	}

a.extra_gallery:hover, a.extra_gallery:active {
	background: url(../gfx/gallery.png) no-repeat scroll 0 -20px;
	display:block;
	height: 20px;
	width: 60px;
	}
	
a.extra_attachment {
	background: url(../gfx/attachment1.png) no-repeat scroll 0 0;
	display:block;
	height: 20px;
	width: 60px;
	}

a.extra_attachment:hover, a.extra_attachment:active {
	background: url(../gfx/attachment1.png) no-repeat scroll 0 -20px;
	display:block;
	height: 20px;
	width: 60px;
	}
	
/* sponsors */

.sponsorbox {
	vertical-align: middle;
	width: 145px;
	text-align: center;
	padding: 15px;
	}

.sponsor {
	width: 145px;
	overflow: hidden;
	text-align: center;
}

.kze_header {
	}

.kze_title {
	float:left
}