
*.pyc
/.pydevproject
/_init_data_load.bat
/_syncdb.bat
/_syncdb_full.bat
/_tests.bat
/_trans.bat
/locale/pl/LC_MESSAGES/django.mo
/locale/pl/LC_MESSAGES/django.mo
/main/management/commands/init_data_load.py
/main/management/commands/syncdb_full.py
/doc/Screenshot - 2009-07-12 , 14_36_47.png
/doc/Screenshot - 2009-07-12 , 14_41_49.png
/doc/Screenshot - 2009-07-12 , 15_29_51.png
/doc/Screenshot - 2009-07-12 , 18_56_07.png
/doc/Screenshot - 2009-07-12 , 18_56_07_2.png
/doc/Screenshot - 2009-07-12 , 18_57_49.png
/doc/Screenshot - 2009-07-12 , 18_57_49_2.png
/doc/Screenshot - 2009-07-12 , 19_02_49.png
/doc/Screenshot - 2009-07-12 , 19_09_46.png
/doc/Screenshot - 2009-07-12 , 19_37_41.png
/doc/Screenshot - 2009-07-12 , 19_40_14.png
/doc/Screenshot - 2009-07-12 , 19_42_16.png
/doc/Screenshot - 2009-07-12 , 19_44_26.png
/doc/Screenshot - 2009-07-12 , 19_54_29.png
/doc/Screenshot - 2009-07-12 , 20_00_38.png
/doc/Screenshot - 2009-07-13 , 14_15_40.png
/doc/Screenshot - 2009-07-13 , 14_18_16.png
/doc/Screenshot - 2009-07-13 , 14_19_34.png
/doc/Screenshot - 2009-07-13 , 14_19_48.png
/doc/Screenshot - 2009-07-13 , 14_21_59.png
/doc/Screenshot - 2009-07-13 , 15_08_16.png
/doc/Screenshot - 2009-07-13 , 16_56_15.png
/doc/Screenshot - 2009-07-13 , 16_58_14.png
/doc/Screenshot - 2009-07-13 , 17_00_13.png
/doc/Screenshot - 2009-07-13 , 17_09_40.png
/doc/Screenshot - 2009-07-13 , 17_22_00.png
/doc/wicket-django-fight.pptx
/doc/~$wicket-django-fight.pptx